<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="$rc.contextPath/home.htm">起始页</a></h2>
 <ul>
  <li>
   <dl>
    <dt>功能</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="$rc.contextPath/menuManager.htm" #if($currentPage==1) class="active" #end>自定义菜单</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>管理</dt>
    <dd><a href="$rc.contextPath/telManager.htm">联系方式管理</a></dd>
   </dl>
  </li>
  <li>
   <p class="btm_infor">© zhanggd 版权所有</p>
  </li>
 </ul>
</aside>
