#set($layout = "layout/cjcx.vm")
<body>
<form id="cjcxaction" action="$rc.contextPath/wx_bind.htm">
<input type="hidden" name="openid" value="$!openid"/>
<div class="weui_cells_title">学号绑定</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">学号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" name="username" type="number" pattern="[0-9]{12}" placeholder="请输入学号"/>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" name="password" type="password" pattern="[0-9a-zA-Z#%*]*" placeholder="请输入密码"/>
        </div>
    </div>
</div>
<div class="weui_btn_area">
     <a class="weui_btn weui_btn_primary" href="javascript:" id="showTooltips1" onclick="chongzhi();">重置</a>
</div>
<div class="weui_btn_area">
     <a class="weui_btn weui_btn_primary" href="javascript:" id="showTooltips2" onclick="login();">确定</a>
</div>
</form>
<script type = "text/javascript">
function chongzhi(){
	$(".weui_input").val("");
}
function login(){
	$("#cjcxaction").submit();
}
</script>