#set($layout = "layout/cjcx.vm")
<body>
<div class="weui_cells">
  
</div>
<script type = "text/javascript" >
$(function () {
	var html = 	"<div class='weui_cell' style='background:#000;color:#FFF'>"+
    "<div class='weui_cell_bd weui_cell_primary'>"+
    "<p>课程</p>"+
  	"</div>"+
  	"<div class='weui_cell_bd'>"+
    "成绩"+
  	"</div>"+
	"</div>";

	#foreach($temp in $result)
	#if($velocityCount != 1)
	#if($velocityCount%2 == 1)
  	  html += "<div class='weui_cell' style='background:#cccccc;'>"+
  	#else
  	  html += "<div class='weui_cell'>"+
		#end
	"<div class='weui_cell_bd weui_cell_primary'>"+
    "<p>$!temp[0]</p>"+
  	"</div>"+
  	"<div class='weui_cell_ft'>"+
  	$!temp[1]+
  	"</div>"+
	"</div>";
	#end
	#end
	$(".weui_cells").html(html);
});
</script>